{% extends 'Form/base.html' %}

{% block content %}
<div class="mt-5 container text-center w-50">
    <div>
        <h1 class="mb-5"> {{ msc }} </h3>
        {% if views == 'form' %}
        <form action="{% url views %}" method="POST">
        {% else %}
        <form action="{% url views utente %}" method="POST">
        {% endif %}
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" aria-label="Nome" value="{{ nome }}" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="cognome" name="cognome" placeholder="Cognome" aria-label="Cognome" value="{{ cognome }}" required>
                </div>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ email }}" required>
            </div>
            <div class="mb-3">
                {% if views == 'form' %}
                <textarea class="form-control" id="messaggio" name="messaggio" rows="10" placeholder="Messaggio"></textarea>
                {% else %}
                <textarea class="form-control" id="messaggio" name="messaggio" rows="10" placeholder="Messaggio"> {{ messaggio }} </textarea>
                {% endif %}
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="w-100 btn btn-primary "> {{ btn }} </button>
                </div>
                <div class="col">
                    <a href="{% url 'mess' %}" class="w-100 btn btn-primary"> Visualizza messaggi </a>
                </div>
            </div>
            
        </form>
    </div>
    <div>
    {% for m in messages %}
    <h1> {{ m }} </h1>
    {% endfor %}
    </div>
    <div>
        
    </div>

</div>

{% endblock %}
