{% extends 'Form/base.html' %}

{% block content %}
<div class="mt-5 container text-center w-50">
    <div>
        <h1 class="mb-5">Mandami un mesaggio</h3>
        <form action="{% url 'form' %}" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" aria-label="Nome" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="cognome" name="cognome" placeholder="Cognome" aria-label="Cognome" required>
                </div>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="messaggio" name="messaggio" rows="10" placeholder="Messaggio"></textarea>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="w-100 btn btn-primary "> Invia </button>
                </div>
                <div class="col">
                    <a href="{% url 'mess' %}" class="w-100 btn btn-primary"> Visualizza messaggi </a>
                </div>
            </div>
            
        </form>
    </div>
    <div>
    {% for m in messages %}
    <h1> {{m}} </h1>
    {% endfor %}
    </div>
    <div>
        
    </div>

</div>

{% endblock %}
