{% extends 'Form/base.html' %}

{% block content %}

<div class="mt-3 container w-50">
    <form action="{% url 'cerca' %}" method="POST">
        {% csrf_token %}
        <div>
            {% if views == 'mess' %}
            <div class="input-group mb-3 w-25">
                <input type="text" class="form-control" placeholder="Cerca" name="cerca">
                <button class="btn btn-primary input-group-text"> <i class="bi bi-search"></i> </button>
            </div>
            {% endif %}
            <a href="{% url 'form' %}" class="btn btn-primary w-25"> Manda un messaggio </a>
        </div>
    </form>
    <div class="row mt-5 text-center">
        {% for ut in utenti %}
        <div class="card" style="width: 18rem; color: #000;">
            <div class="card-body">
                <h5 class="card-title"> {{ ut.nome }} {{' '}} {{ ut.cognome }} </h5>
                <p class="card-text"> {{ut.email}} </p>
                <p class="card-text"> {{ut.messaggio}} </p>
                <div class="row">
                    <a href="{% url 'update' ut.id %}" class="btn btn-secondary col"> Modifica </a>
                    <a href="{% url 'elimina' ut.id %}" class="btn btn-danger col"> Elimina </a>                        
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}