{% extends 'Form/base.html' %}

{% block content %}

<div class="mt-3 container text-center w-50">
    <div>
        <h1 class="mb-3">Messaggi</h3>
        <div class="row">
            {% for m in mess %}
            <div class="card" style="width: 18rem; color: #000;">
                <div class="card-body">
                    <h5 class="card-title"> {{ m.nome }} {{' '}} {{ m.cognome }} </h5>
                    <p class="card-text"> {{m.email}} </p>
                    <p class="card-text"> {{m.messaggio}} </p>
                    <a href="{% url 'elimina' utente.id %}" class="btn btn-danger"> Elimina </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'form' %}" class="mt-3 w-100 btn btn-primary"> Manda un messaggio </a>

</div>

{% endblock %}